<form action="/cargar-usuarios" method="POST">
    <div class="jumbotron">
        <h1 class="display-4">Hola, </h1>
        
        <input type="file"
       id="path" name="path"/>
 
         <button class="btn btn-success btn-block" style="background:black">
              Cargar
              </button>
    </div>
    </form>